/* General Styles */

body {
    font-family: Lucida Sans;
}

.sections {
    padding: 20px 0;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
}

.section-header .section-title {
    font-size: 35px;
}

.section-header .line {
    width: 175px;
    background: #ddd;
    height: 2px;
    margin: auto;
}

.section-header .line span {
    display: block;
    width: 100px;
    height: 4px;
    background: #7cb62f;
    margin: auto;
    position: relative;
    bottom: 1px;
}

.section-header p {
    width: 50%;
    margin: 15px auto;
    color: #999;
    line-height: 1.5;
}

@media (max-width:575px) {
    .section-header p {
        width: 90%;
    }
}

.color-page {
    color: #7cb62f;
}


/* margin top */

.mt-5 {
    margin-top: 5%;
}

.mt-4 {
    margin-top: 4%;
}

.mt-3 {
    margin-top: 3%;
}

.mt-2 {
    margin-top: 2%;
}

.mt-1 {
    margin-top: 1%;
}


/* margin bottom */

.mb-5 {
    margin-bottom: 5%;
}

.mb-4 {
    margin-bottom: 4%;
}

.mb-3 {
    margin-bottom: 3%;
}

.mb-2 {
    margin-bottom: 2%;
}

.mb-1 {
    margin-bottom: 1%;
}

.clear {
    clear: both;
}


/* Header Styles */

header {
    height: auto;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.sticky {
    background: #000;
    color: #fff;
}

header i.icon {
    position: absolute;
    right: 30px;
    top: 32px;
    cursor: pointer;
    z-index: 10;
    display: none;
}

header .logo h2 {
    font-size: 30px;
    color: #fff;
}

header nav .nav-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
}

header nav .nav-list .list a {
    display: block;
    padding: 15px;
    margin: 9px 0;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

header nav .nav-list .list a:hover {
    color: #7cb62f;
}

@media (max-width:575px) {
    header {
        background: #000;
        color: #fff;
    }
    header .logo {
        text-align: center;
    }
    header nav .nav-list {
        padding: 0;
        text-align: center;
        display: none;
    }
    header i.icon {
        display: block;
    }
}


/* Home Styles */

.home {
    height: 800px;
    background-image: url("../Images/home/skill-bg.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.home .home-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home .home-title {
    color: #fff;
    font-size: 45px;
    margin-bottom: 20px;
}

.home .home-desc {
    color: #ddd;
    font-size: 18px;
}

.home .button {
    background: #7cb62f;
    border: 0;
    color: #fff;
    width: 150px;
    text-align: center;
    padding: 10px 0;
}

@media (max-width:575px) {
    .home .home-title {
        font-size: 35px;
    }
    .home .button {
        margin-bottom: 10px;
    }
}


/* About Styles */

.about .about-info .about-info-title {
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 20px;
}

.about .about-info .about-info-desc {
    line-height: 1.8;
    color: #999;
    margin-bottom: 20px;
}

.about .about-info .about-info-btn {
    background: #7cb62f;
    border: 0;
    border-radius: 3px;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
}

.about .about-img img {
    width: 100%;
}

@media (max-width:575px) {
    .about .about-info .about-info-title {
        font-size: 20px;
    }
    .about .about-info .about-info-btn {
        margin-bottom: 10px;
    }
}

@media (min-width:575px) and (max-width:768px) {
    .about .about-info {
        text-align: center;
    }
    .about .about-info .about-info-btn {
        margin-bottom: 10px;
    }
}


/* Services Styles */

.services {
    background: #f7f7f7;
    padding-bottom: 8%;
}

.services .services-info {
    background: #fff;
    padding: 18px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.services .services-info .services-icon {
    background: #7cb62f;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-size: 23px;
    border: 2px solid #ddd;
    transition: all 0.3s ease-in-out;
}

.services .services-info .services-info-title {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 20px;
    color: #444;
    transition: all 0.3s ease-in-out;
}

.services .services-info .services-info-desc {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
}

.services .services-info:hover {
    background: #7cb62f;
}

.services .services-info:hover .services-icon {
    background: #FFF;
    color: #7cb62f;
}

.services .services-info:hover .services-info-title,
.services .services-info:hover .services-info-desc {
    color: #fff;
}

@media (max-width:575px) {
    .services .services-info {
        margin-bottom: 15px;
    }
}

@media (min-width:575px) and (max-width:990px) {
    .services .services-info {
        margin-bottom: 15px;
    }
}


/* Statistics Styles */

.stat {
    background-image: url("../Images/stat/lap-stat.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    position: relative;
}

.stat .stat-info {
    margin: 90px 0;
    text-align: center;
}

.stat .stat-info .stat-info-icon,
.stat .stat-info .stat-info-counter,
.stat .stat-info .stat-info-title {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    color: #fff;
}

.stat .stat-info .stat-info-icon {
    background: #7cb62f;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-size: 30px;
}

.stat .stat-info .stat-info-counter {
    font-size: 25px;
    font-weight: bolder;
}

.stat .stat-info .stat-info-title {
    text-transform: capitalize;
    font-size: 15px;
}

@media (max-width:575px) {
    .stat {
        height: 850px;
    }
    .stat .stat-info {
        margin: 30px 0;
    }
}

@media (min-width:575px) and (max-width:990px) {
    .stat {
        height: 850px;
    }
    .stat .stat-info {
        margin: 30px 0;
    }
}


/* Portfolio Styles */

.portfolio .buttons {
    width: 60%;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}

.portfolio .buttons button {
    width: 100px;
    padding: 10px;
    background: #333;
    color: #fff;
    border: 0;
    border-radius: 3px;
    margin-left: 5px;
}

.portfolio .images>div {
    margin-bottom: 20px;
}

.portfolio .images>div img {
    width: 100%;
}

.portfolio .view {
    width: 250px;
    padding: 10px;
    background: #555;
    color: #fff;
    border: 0;
    border-radius: 3px;
    display: block;
    margin: auto;
}

.active_btn {
    background: #7cb62f !important;
}

@media (max-width:575px) {
    .portfolio .buttons button {
        margin-top: 10px;
    }
}

@media (min-width:575px) and (max-width:990px) {
    .portfolio .buttons button {
        margin-top: 10px;
    }
}


/* Exprets Styles */

.exprets {
    background: #4c4c4c;
}

.exprets .section-title {
    color: #fff;
}

.exprets .progress-content {
    margin-top: 20px;
}

.exprets .progress {
    width: 150px;
    height: 150px;
    background: none;
    box-shadow: none;
    margin: 0 auto;
    position: relative;
}

.exprets .progress .progress-value {
    position: absolute;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    top: 5%;
    left: 5%;
    background: none;
    text-align: center;
    line-height: 135px;
    color: #fff;
    font-size: 25px;
}

.exprets .progress>span {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    overflow: hidden;
    z-index: 2;
}

.exprets .progress .progress-left {
    left: 0;
}

.exprets .progress .progress-right {
    right: 0;
}

.exprets .progress .progress-bar {
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    border-width: 10px;
    border-style: solid;
}

.exprets .progress.blue .progress-bar {
    color: #049dff;
}

.exprets .progress.yellow .progress-bar {
    color: #fdba04;
}

.exprets .progress .progress-left .progress-bar {
    left: 100%;
    border-bottom-right-radius: 80px;
    border-top-right-radius: 80px;
    border-left: 0;
    transform-origin: left;
}

.exprets .progress .progress-right .progress-bar {
    right: 100%;
    border-bottom-left-radius: 80px;
    border-top-left-radius: 80px;
    border-right: 0;
    transform-origin: right;
    animation: load1 1.8s linear forwards;
}

.exprets .progress.blue .progress-left .progress-bar {
    animation: load2 1.5s linear forwards 1.8s;
}

.exprets .progress.yellow .progress-left .progress-bar {
    animation: load3 1.5s linear forwards 1.8s;
}

@keyframes load1 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(180deg);
    }
}

@keyframes load2 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(144deg);
    }
}

@keyframes load3 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(90deg);
    }
}

.exprets .title {
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}


/* Pricing Styles */

.pricing {
    background: #f6f6f6;
}

.pricing .plan {
    text-align: center;
    background: #fff;
    transition: all 0.3s ease-in-out;
}

.pricing .plan .plan-info {
    background: #222;
    color: #fff;
    padding: 15px 0;
    transition: all 0.5s ease-in-out;
}

.pricing .plan .plan-info .price {
    display: block;
    font-size: 35px;
    font-weight: bold;
}

.pricing .plan .plan-info .title {
    display: block;
    opacity: 0.8;
}

.pricing .plan .plan-info-title {
    border-bottom: 1px solid #bbb;
    padding-bottom: 20px;
    color: #444;
}

.pricing .plan .plan-info-list {
    list-style: none;
    padding: 10px 0;
}

.pricing .plan .plan-info-list .list {
    padding: 13px;
}

.pricing .plan .plan-info-btn {
    width: 100%;
    padding: 13px;
    border: 0;
    background: #222;
    color: #fff;
    transition: all 0.5s ease-in-out;
}

.pricing .plan:hover .plan-info,
.pricing .plan:hover .plan-info-btn {
    background: #7cb62f;
}

@media (max-width:575px) {
    .pricing .plan {
        width: 80%;
        margin: 20px auto;
    }
}

@media (min-width:575px) and (max-width:990px) {
    .pricing .plan {
        width: 90%;
        margin: 20px auto;
    }
}


/* Team Styles */

.team .team-content {
    text-align: center;
}

.team .team-content .team-con-img {
    width: 270px;
    height: 380px;
}

.team .team-content .team-info {
    text-transform: uppercase;
}

.team .team-content .team-info .team-info-title {
    font-size: 18px;
    margin-bottom: 4px;
    font-weight: bold;
}

.team .team-content .team-info .team-info-desc {
    font-size: 12px;
}

.team .team-content .team-links {
    width: 100%;
    background: #222;
    color: #fff;
    position: relative;
}

.team .team-content .team-links .team-icon {
    padding: 15px 12px;
    cursor: pointer;
    position: relative;
    z-index: 15;
}

.team .team-content .bg {
    display: block;
    width: 0;
    position: absolute;
    padding: 22px;
    bottom: 0px;
    transition: all 0.5s ease-in-out;
}

.team .team-content:hover .bg {
    width: 100%;
    background: #7cb62f;
}

@media (max-width:575px) {
    .team .team-content {
        width: 80%;
        margin: 20px auto;
    }
    .team .team-content .team-con-img {
        width: 100%;
        height: 380px;
    }
    .team .team-content .bg {
        bottom: 20px;
    }
    .team .team-content:hover .bg {
        width: 80%;
        background: #7cb62f;
    }
}

@media (min-width:575px) and (max-width:990px) {
    .team .team-content {
        width: 100%;
    }
    .team .team-content .team-con-img {
        width: 100%;
    }
}

@media (min-width:990px) and (max-width:1200px) {
    .team .team-content {
        width: 100%;
    }
    .team .team-content .team-con-img {
        width: 100%;
    }
}


/* Business Styles */

.business {
    background-image: url("../Images/stat/lap-stat.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 300px;
    text-align: center;
    position: relative;
    color: #fff;
}

.business .business-info {
    margin: 90px 0;
}

.business .business-info .business-title {
    font-size: 35px;
}

.business .business-info .business-desc {
    width: 60%;
    margin: auto;
    font-size: 15px;
    color: #f6f6f6;
}

.business .business-info .business-btn {
    background: #7cb62f;
    border: 0;
    border-radius: 2px;
    color: #fff;
    padding: 9px 20px;
    margin-top: 15px;
}

@media (max-width:575px) {
    .business {
        height: 400px;
    }
    .business .business-info .business-title {
        font-size: 30px;
    }
}


/* Choose Styles */

.choose {
    background: #f7f7f7;
}

.choose .choose-panal .panal-list {
    background: #333;
    color: #FFF;
    display: flex;
    margin: 0;
    padding: 0;
}

.choose .choose-panal .panal-list .item-list {
    padding: 13px 20px;
    cursor: pointer;
}

.choose .choose-panal .content {
    background: #FFF;
}

.choose .choose-panal .content .content-info {
    border: 1px solid #ccc;
}

.choose .choose-panal .content .content-info img {
    width: 40%;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 15px;
}

.choose .choose-panal .content .content-info p {
    padding: 10px;
    color: #888;
    line-height: 1.5;
}

.choose .choose-panal .content .content2,
.choose .choose-panal .content .content3 {
    display: none;
}

.choose .choose-media {
    background: #636363;
    padding: 144px 0;
    text-align: center;
    color: #FFF;
}

.choose .choose-media .pop {
    color: #FFF;
}

.choose .choose-media .choose-icon {
    background: #f00;
    padding: 15px;
    cursor: pointer;
}


/* Testimonial Styles */

.testim {
    background-image: url("../Images/testimonial/client-say-bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 650px;
    text-align: center;
    position: relative;
    color: #fff;
}

.testim .testim-content {
    text-align: center;
    background: #141414;
    padding: 25px 10px;
    color: #fff;
}

.testim .testim-content .testim-con-img {
    width: 100px;
    height: 100px;
    border: 3px solid #ddd;
    border-radius: 50%;
    margin: auto;
}

.testim .testim-content .testim-info {
    margin-top: 15px;
}

.testim .testim-content .testim-info .testim-info-title {
    margin: 0;
    font-size: 20px;
    text-transform: capitalize;
}

.testim .testim-content .testim-info .testim-info-desc {
    font-size: 12px;
    padding-top: 6px;
    margin: 0;
}

.testim .testim-content .testim-star {
    margin: 5px 0;
}

.testim .testim-content .testim-star .testim-icon {
    color: #fdba04;
}

.testim .testim-content .testim-desc {
    color: #999;
}


/* 
@media (max-width:575px) {
    .team .team-content {
        width: 80%;
        margin: 20px auto;
    }
    .team .team-content .team-con-img {
        width: 100%;
        height: 380px;
    }
    .team .team-content .bg {
        bottom: 20px;
    }
    .team .team-content:hover .bg {
        width: 80%;
        background: #7cb62f;
    }
}

@media (min-width:575px) and (max-width:990px) {
    .team .team-content {
        width: 100%;
    }
    .team .team-content .team-con-img {
        width: 100%;
    }
}

@media (min-width:990px) and (max-width:1200px) {
    .team .team-content {
        width: 100%;
    }
    .team .team-content .team-con-img {
        width: 100%;
    }
} */