/* General Styles */

body {
    font-family: Lucida Sans;
}

.sections {
    padding: 20px 0;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
}

.section-header .section-title {
    font-size: 35px;
}

.section-header .line {
    width: 175px;
    background: #ddd;
    height: 2px;
    margin: auto;
}

.section-header .line span {
    display: block;
    width: 100px;
    height: 4px;
    background: #7cb62f;
    margin: auto;
    position: relative;
    bottom: 1px;
}

.section-header p {
    width: 500px;
    margin: 15px auto;
    color: #999;
    line-height: 1.5;
}

.clear {
    clear: both;
}


/* Header Styles */

header {
    height: auto;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.sticky {
    background: #000;
    color: #fff;
}

header i.icon {
    position: absolute;
    right: 30px;
    top: 32px;
    cursor: pointer;
    z-index: 10;
    display: none;
}

header .logo h2 {
    font-size: 30px;
    color: #fff;
}

header nav .nav-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
}

header nav .nav-list .list a {
    display: block;
    padding: 15px;
    margin: 9px 0;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

header nav .nav-list .list a:hover {
    color: #7cb62f;
}

@media (max-width:575px) {
    header {
        background: #000;
        color: #fff;
    }
    header .logo {
        text-align: center;
    }
    header nav .nav-list {
        padding: 0;
        text-align: center;
        display: none;
    }
    header i.icon {
        display: block;
    }
}


/* Home Styles */

.home {
    height: 800px;
    background-image: url("../Images/home/skill-bg.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.home .home-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home .home-title {
    color: #fff;
    font-size: 45px;
    margin-bottom: 20px;
}

.home .home-desc {
    color: #ddd;
    font-size: 18px;
}

.home .button {
    background: #7cb62f;
    border: 0;
    color: #fff;
    width: 150px;
    text-align: center;
    padding: 10px 0;
}

@media (max-width:575px) {
    .home .home-title {
        font-size: 35px;
    }
    .home .button {
        margin-bottom: 10px;
    }
}